# Web Server
fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
python-dotenv==1.0.1
requests==2.31.0
httpx==0.27.2

# AI & Database
openai==1.12.0
chromadb==0.4.24
onnxruntime==1.17.3          
langchain-community==0.0.24
langchain-chroma==0.1.0
langchain-openai==0.0.8
langchain-groq==0.1.3
langchain-huggingface==0.0.3
sentence-transformers==2.7.0
langchain-text-splitters==0.0.1
openinference-instrumentation-langchain==0.1.29

# MLOps Tools
mlflow-skinny==2.11.1
setuptools<81               
arize-phoenix-otel==0.5.1
dvc==3.44.0

# Evaluation
ragas==0.1.21
datasets==2.18.0

# Testing
pytest==8.0.2
pytest-asyncio==0.23.5